@import "tailwindcss";

:root {
  --background: #0F0F0F;
  --foreground: #F4F4F5;
  --primary: #581C87;
  --secondary: #C4B5FD;
  --neutral: #3F3F46;
  --success: #22C55E;
  --danger: #EF4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
